body{
    margin: 0;
    padding: 0;
}
.copy{
    width: 100%;
    background-color: blueviolet;
}
.col{
    font-family: "Yekan";
}
.copy .col{
    text-align: center;
    color: greenyellow;
}
.copysign{
    font-family: 'Times New Roman', Times, serif;
}
.pack-heading{
    text-align: center;
    font-family: "Yekan";
    font-size: 35px;
    text-shadow: 5px 5px 4px rgba(38, 255, 0, 0.511);
    color: rgb(95, 31, 155);
    font-weight: 5000;
}
.cart-img{
    width: 50px;
    height: 30px;
    margin-top: 4px;
    margin-left: 5px;
}
.navbar{
    background-color: rgb(137, 43, 226);
    margin: 0;
    top: 0;
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
}
.asparagus{
    padding: 1.1rem 3rem 1.0rem;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.asparagus ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 0;
}
.asparagus ul li a {
    padding: 0.75rem;
    margin: 0;
    text-decoration: none;
    color: greenyellow;
}
.asparagus ul li a:hover {
   background-color: greenyellow;
   color: blueviolet;
   border-radius: 5px;
} 
.cart-box{
    background-color: greenyellow;
    width: 43px ;
    height: 38px ;
    justify-content: center;
    padding-top: 2px;
    padding-left: 3px;
    border-radius: 9px;
    margin-top: 5px;
    margin-right: -1.5px;
}
.gemin{
    margin: 0;
    font-family: "Yekan";
    margin-top: -15px;
    font-weight: 5000;
    color: greenyellow;
    font-size: xx-large;
}
.font-nav{
    font-family: "Yekan";
}
.site-label{
    padding-right: 100px;
    padding-top: -100px;
    transform: translate(80 80);
    font-family: "Yekan";
    color: greenyellow;
}
.log{
    font-weight: 700;
    font-family: "Yekan";
}
.kj{
    width: 15px;
    
}
.pop{
    background-color: blueviolet;
    width: 160px;
    border-radius: 10px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    margin-top: 40px;
    padding-top: 8px;
}
.pencil{
    width: 150px;
}
.btn{
    margin-right: auto;
    background-color: greenyellow;
    width: 120px;
    margin-left: auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
}
.class{
    font-family: "Yekan";
    font-size: large;
    font-weight: 900;
}
.items{
    display: flex;
    padding-right: 7.9rem;
    padding-left: 7rem;
}
.item{
    width: 140px;
    background-color: gold;
    margin: 0.6rem;
    text-align: center;
    height: 180px;
    border: solid 2px goldenrod;
    border-radius: 10px;
}
.pir{
    font-family: "Yekan";
    font-size: medium;
    margin: 0;
}
.mir{
    font-family: "Yekan";
    font-size: small;
    margin: 0;
}
.butn{
    background-color: blueviolet;
    color: greenyellow;
    font-family: "Yekan";
    font-size: medium;
    font-weight: 700;
    border-radius: 6px;
}
#id{
    margin-top: 21px;
}
.butn:hover{
    background-color: greenyellow;
    color: blueviolet;
    font-family: "Yekan";
    font-size: medium;
    font-weight: 700;
    border-radius: 6px;
}
#bt{
    margin-top: 5px;
    font-size: x-small;
}
.g{
    text-decoration: line-through;
    color: gold;
}
.we{
    color: blueviolet;
}
#bt1{
    font-size:9px;
    margin-top: 7px;
}
.link-bar{
    background-color: rgb(137, 43, 226);
    margin: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 320px;
}
.horror{
    height: 1px;
    width: 100%;
    background-color: greenyellow;
}
.link-bar ul li a{
    font-family: "Yekan";
    text-decoration: none;
    color: greenyellow;
    font-size: large;
}
.link-bar ul li{
    list-style: none;
}
.link-bar h3{
    color: greenyellow;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: xx-large;
    text-align: center;
}
.link-bar{
    font-family: "Yekan";
}
.link-bar ul{
    
    justify-content: center;
    padding: 0;
    text-align: center;
}
.potato{
    margin: 1rem;
    margin-top: 0;
}
